* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

p {
  line-height: 1.8;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #16212d;
}

.header .links {
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
}

.showcase {
  background: url(./fotografije/2.jpg)
    no-repeat center/cover;
  height: 700px;
}

.showcase .overlay {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 700px;
  text-align: center;
  color: #fff;
}

.showcase .showcase-overlay h1 {
  font-size: 36px;
  padding-bottom: 20px;
}
